<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer class="tb-details-drawer mat-elevation-z4"
              #drawer
              mode="over"
              position="end"
              [opened]="false">
    Drawer here
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="column" class="tb-entity-table-content tb-outlined-border">
        <mat-toolbar class="mat-mdc-table-toolbar" [fxShow]="!textSearchMode">
          <div class="mat-toolbar-tools">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start"
                 class="title-container">
              <span class="tb-entity-table-title">Danh sách HCP</span>
              <div style="display: flex; gap: 0.6rem; justify-content: space-between; align-items: center">
                <span class="tb-entity-table-title badge neutral"
                      matTooltip="Tổng số lượng HCP"
                      matTooltipPosition="above">{{ totalItems }}</span>
                <span class="tb-entity-table-title badge green"
                      matTooltip="Số lượng HCP đang online"
                      matTooltipPosition="above">{{ totalOnline }}</span>
                <span class="tb-entity-table-title badge red"
                      matTooltip="Số lượng HCP đang offline"
                      matTooltipPosition="above">{{ totalOffline }}</span>
              </div>
            </div>
            <span fxFlex></span>
            <div fxShow>
              <button mat-icon-button
                      matTooltip="Xuất dữ liệu"
                      matTooltipPosition="above"
                      (click)="exportData()">
                <mat-icon>file_download</mat-icon>
              </button>
              <button mat-icon-button
                      matTooltip="Tìm kiếm"
                      matTooltipPosition="above"
                      (click)="enterFilterMode()">
                <mat-icon>search</mat-icon>
              </button>
              <ng-template #addActions>
                <button mat-icon-button
                        fxShow
                        matTooltip="Add button here"
                        matTooltipPosition="above">
                  <tb-icon>add</tb-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </mat-toolbar>
        <mat-toolbar class="mat-mdc-table-toolbar" [fxShow]="textSearchMode">
          <div class="mat-toolbar-tools">
            <button mat-icon-button
                    matTooltip="Tìm kiếm"
                    matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <mat-form-field fxFlex>
              <mat-label>&nbsp;</mat-label>
              <input #searchInput matInput
                     [formControl]="textSearch"
                     placeholder="Tìm kiếm HCP"/>
            </mat-form-field>
            <button mat-icon-button (click)="exitFilterMode()"
                    matTooltip="{{ 'action.close' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <div fxFlex class="table-container">
          <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
            <ng-container matColumnDef="index" sticky>
              <mat-header-cell *matHeaderCellDef> STT</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"> {{ pageLink.page * pageLink.pageSize + i + 1 }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Ngày thêm</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        style="text-wrap: nowrap"> {{ element.createdAt | date: "dd/MM/YYYY hh:mm:ss" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Tên HCP</mat-header-cell>
              <mat-cell *matCellDef="let element" style="min-width: 6rem"> {{ element.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ip">
              <mat-header-cell *matHeaderCellDef> IP</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.ip }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="version">
              <mat-header-cell *matHeaderCellDef> Firmware version</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.version }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Trạng thái</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div *ngIf="element.active === 'true'; else inactiveTemplate" class="badge green">
                  {{ "device.active" | translate }}
                </div>
                <ng-template #inactiveTemplate>
                  <div class="badge red">
                    {{ "device.inactive" | translate }}
                  </div>
                </ng-template>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="inactivityAlarmTime">
              <mat-header-cell *matHeaderCellDef> Thời gian cảnh báo</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        style="text-wrap: nowrap"> {{ element.inactivityAlarmTime | date: "dd/MM/YYYY hh:mm:ss" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastConnectTime">
              <mat-header-cell *matHeaderCellDef> Kết nối lần cuối</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        style="text-wrap: nowrap"> {{ element.lastConnectTime | date: "dd/MM/YYYY hh:mm:ss" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastDisconnectTime">
              <mat-header-cell *matHeaderCellDef> Mất kết nối lần cuối</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        style="text-wrap: nowrap"> {{ element.lastDisconnectTime | date: "dd/MM/YYYY hh:mm:ss" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastActivityTime">
              <mat-header-cell *matHeaderCellDef> Cập nhật gần nhất</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        style="text-wrap: nowrap"> {{ element.lastActivityTime | date: "dd/MM/YYYY hh:mm:ss" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
              <mat-header-cell *matHeaderCellDef> Thao tác</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div fxShow>
                  <button mat-icon-button
                          matTooltip="Xoá dữ liệu"
                          matTooltipPosition="above"
                          (click)="deleteDevice(element.id)">
                    <tb-icon>delete</tb-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="11">
                <div class="mat-padding no-data-message" *ngIf="!isLoading">
                  Không có dữ liệu
                </div>
              </td>
            </tr>
          </table>
        </div>
        <mat-divider></mat-divider>
        <mat-paginator
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageLink.pageSize"
          [pageIndex]="pageLink.page"
          [length]="totalItems"
          [disabled]="isLoading"
          showFirstLastButtons
          aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
